<%- include('partials/header') %>

  <div class="listbox" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>

  <div class="listbox">
    <% listItems.forEach(function(item) {%>
      <form action="/delete" method="post"> 
        <div class="listitem">
          <input type="checkbox" name="checkbox" value="<%= item._id %>" onchange="this.form.submit()">
          <p><%=  item.name  %></p>
        </div>
        <div>
          <input type="hidden" name="listName" value="<%= listTitle %>">
        </div>
      </form> 
    <%})%>
      

      <form class="item" action="/list" method="post">
        <input class="listinputtext" type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button class=" additembtn" type="submit" name="list" value="<%= listTitle %>">+</button>
      </form>
  </div>

  <%- include('partials/footer') %>

